<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{carro.cadastrar.label}"></span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/carros/listar}"
				role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
				aria-hidden="true"></span> <span th:text="#{carro.listar.label}"></span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${carro.id == null} ? @{/carros/salvar} : @{/carros/editar}"
				th:object="${carro}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{carro.modelo.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" placeholder="Modelo"
							autofocus="autofocus" th:field="*{modelo}"
							th:classappend="${#fields.hasErrors('modelo')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{modelo}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.cor.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" placeholder="Cor"
							autofocus="autofocus" th:field="*{cor}"
							th:classappend="${#fields.hasErrors('cor')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{cor}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.marca.label}" for="marca"></label> 
						<select id="marca" class="form-control" th:field="*{marca}"
							th:classappend="${#fields.hasErrors('marca')} ? is-invalid">
							<option value="">Selecione</option>
							<option th:each="marca : ${marcas}" th:value="${marca.id}"
								th:text="${marca.nome}"></option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{marca}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.ano.label}" for="ano"></label> 
						<input type="number" class="form-control" id="nome" placeholder="Ano"
							autofocus="autofocus" th:field="*{ano}"
							th:classappend="${#fields.hasErrors('ano')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{ano}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.preco.label}" for="preco"></label> 
						<input type="text" class="form-control" id="preco" placeholder="Preço"
							data-mask="000000,00" data-mask-reverse="true" th:field="*{preco}" 
							th:classappend="${#fields.hasErrors('preco')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{preco}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
