<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{pageTitle}">Lista Primos</title>
</head>

<body>
	<table border="1" style="width: 600px; border: 1px solid black">
		<tr>
			<th th:text="#{celsius}" style="width: 50.0%; text-align: center">Celsius</th>
			<th th:text="#{fahrenheit}" style="width: 50.0%; text-align: center">Fahrenheit</th>
		</tr>
		<tr th:each="elemento : ${lista}">
			<td th:text="${elemento.celsius}" style="text-align: center"></td>
			<td th:text="${elemento.fahrenheit}" style="text-align: center"></td>
		</tr>
	</table>
</body>

</html>